<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBW2AutoPlrClient.game_and_mod" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PBW2AutoPlrClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PBW2AutoPlrClient.game_and_mod>
            <setting name="SE4" serializeAs="String">
                <value />
            </setting>
        </PBW2AutoPlrClient.game_and_mod>
        <PBW2AutoPlrClient.Properties.Settings>
            <setting name="pbw_address" serializeAs="String">
                <value>beta.pbw.spaceempires.net/</value>
            </setting>
            <setting name="user_login" serializeAs="String">
                <value>Xintus</value>
            </setting>
            <setting name="user_password" serializeAs="String">
                <value>xintusRules</value>
            </setting>
            <setting name="pbw_login_path" serializeAs="String">
                <value>login/process</value>
            </setting>
            <setting name="pbw_games_list_path" serializeAs="String">
                <value>node/player</value>
            </setting>
            <setting name="pbw_player_download_path" serializeAs="String">
                <value>player-turn/download</value>
            </setting>
            <setting name="pbw_upload_playerfile_path" serializeAs="String">
                <value>player-turn/upload</value>
            </setting>
            <setting name="pbw_uploadFormParam_player" serializeAs="String">
                <value>plr_file</value>
            </setting>
            <setting name="user_download_path" serializeAs="String">
                <value>downloadfiles\</value>
            </setting>
            <setting name="user_savelogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pbw_game_path" serializeAs="String">
                <value>games/</value>
            </setting>
        </PBW2AutoPlrClient.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="pbw2_address" serializeAs="String">
                <value>http://beta.pbw.spaceempires.net</value>
            </setting>
            <setting name="account_name" serializeAs="String">
                <value>Xintus</value>
            </setting>
            <setting name="account_pass" serializeAs="String">
                <value>xintusRules</value>
            </setting>
            <setting name="login_path" serializeAs="String">
                <value>login/process</value>
            </setting>
            <setting name="games_list_path" serializeAs="String">
                <value>node/player</value>
            </setting>
            <setting name="player_download_path" serializeAs="String">
                <value>player-turn/download</value>
            </setting>
            <setting name="upload_playerfile_path" serializeAs="String">
                <value>uploadplr</value>
            </setting>
            <setting name="uploadFormParam_player" serializeAs="String">
                <value>plr_file</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>